<p style="color: green"><%= notice %></p>

<div data-controller="pokemon-full-info" data-pokemon-name="<%= @pokemon.name %>" class="content is-medium">
  <h1><%= @pokemon.name %></h1>

  <input type="hidden" value="<%= @pokemon.name %>" id="pokemon-name">
  <img src="" alt="" data-pokemon-target="image" id="image" width="200" height="200">

  <h2>Details:</h2>

  <div class="box">
    <strong>Weight: </strong> <%= @pokemon.weight %>
  </div>

  <div class="columns">
    <div class="column">
    <div class="box">
      <strong>Type(s): </strong> 
      <% @pokemon.types.each do |type| %>
        <p>Name: <%= type.type.name %></p>
      <% end %>
    </div>
    </div>
    <div class="column">
    <div class="box">
      <strong> Ability(ies): </strong>
      <% @pokemon.abilities.each do |ability| %>
        <p>Name: <%= ability.ability.name %></p>
      <% end %> 
    </div>
    </div>
  </div>
  <div>
</div>

<br/>
<%= link_to "Previous page", pokemons_url, class: "button is-link" %>
<%= link_to "Back to init", root_path, class: "button is-link" %>
